doctype html
html
  head
    title Elit Ornare | Article - News
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='css/style.css' rel='stylesheet')
    <!--[if lt IE 9]>
    script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    script.
      /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
      window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")||-1!==navigator.userAgent.indexOf("Series40")),o=function(o){var a=t.document.createElement("link"),r=t.document.getElementsByTagName("script")[0];a.rel="stylesheet",a.href=e[o&&n?0:o?1:2],a.media="only x",r.parentNode.insertBefore(a,r),setTimeout(function(){a.media="all"})},a=new t.Image;a.onerror=function(){o(!1)},a.onload=function(){o(1===a.width&&1===a.height)},a.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
      grunticon(["css/icons.data.svg.css", "css/icons.data.png.css", "css/icons.fallback.css"]);

  body

    h1 hello there how are you?
    div.icon.icon-linked-in
    //-svg.eo-icon.eo-icon-email
      //-use(xlink:href="img/eo-icon-defs.svg#eo-icon-email")
    script(src='http://localhost:35729/livereload.js')

