title Elit Ornare | Article
meta(name="viewport" content="width=device-width, initial-scale=1")
link(href='css/style.css' rel='stylesheet')
<!--[if lt IE 9]>
script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
<![endif]-->

script(src="js/picturefill.min.js" async)
script(src="js/modernizr.js")
//typekit
script.
  (function(d) {
    var config = {
      kitId: 'vdi5qvx',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);

