doctype html
html
  head
    title Elit Ornare | Nav
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='css/style.css' rel='stylesheet')
    <!--[if lt IE 9]>
    script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    script(src="js/modernizr.js")
    //typekit
    script.
      (function(d) {
        var config = {
          kitId: 'vdi5qvx',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

  body
    header(role="banner").banner#banner
      section.site-branding
        div.site-branding--alpha: a(href='/').site-branding__link Elit Ornare
        div.site-branding--beta: a(href='http://www.osteopathic.org' title='American Osteopathic Association')
            span(data-icon!="&#xe600;")
      
      section.site-navigation
        a(href="#site-nav").nav__link--toggle
          span(data-icon!="&#xe60f;")
        nav(role='navigation')#site-nav.nav
          ul.nav__list
            li.nav__item: a(href='#').nav__item--link Patient Care
            li.nav__item: a(href='#').nav__item--link Innovation
            li.nav__item: a(href='#').nav__item--link Training
            li.nav__item: a(href='#').nav__item--link Profession
            li.nav__item: a(href='#').nav__item--link Policy
            li.nav__item: a(href='#').nav__item--link Lifestyle
            li.nav__item
              section.site-search
                form(action="/search")#search-form.site-search__form
                  label#search-label.site-search__label(for='q')
                  button(type='submit').site-search__button
                    span(data-icon!="&#xe608;")
                  input(type='text' name='q' placeholder='Enter search terms')#q.site-search__input
              
        
            

    section.ad
      div.ad--leaderboard


    
    
    script(src='js/jquery.min.js')
    script(src='js/nav.js')
    script(src='http://localhost:35729/livereload.js')

